<p id="notice"><%= notice %></p>

<p>
  <b>Descrição:</b>
  <%= @task.description %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Autor:</b>
  <%= @task.author.name %>
</p>

<p>
  <b>Categoria:</b>
  <%= @task.category.name %>
</p>

<p>
  <b>Criado em:</b>
  <%= @task.created_at.strftime("%d/%m/%Y - %H:%M") %>
</p>



<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
