<h1>LLista de Categorias</h1>

<p>
<%= link_to 'Nova Tarefa', new_task_path %> |
<%= link_to 'Novo Autor', new_author_path %> |
<%= link_to 'Nova Categoria', new_category_path %>
</p>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p>
<%= link_to 'Nova Tarefa', new_task_path %> |
<%= link_to 'Novo Autor', new_author_path %> |
<%= link_to 'Nova Categoria', new_category_path %>
</p>